//=================================================
// About
//=================================================

.about-img {
	.img {
		min-height: 400px;
		max-height: 700px;

		&.object-fit {
			&:before {
				padding-top: 43.75% !important;
			}
		}
	}
}
